* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial;
}

div {
	height: 100vh;
}

header {
	background-image: linear-gradient(to top, #eee, rgba(220, 100, 0, 0.7));
}

h1 {
	text-align: center;
	font-size: 50px;
	color: orange;
	text-shadow: 2px 2px 2px black;
	height: 50px;
}

nav {
	margin: 0px 0 20px 0;
}

nav ul {
	display: flex;
	justify-content: end;
	background-image: linear-gradient(to top, rgba(220, 100, 0, 0.7), #eee);
	border-bottom: 1px solid black;
	/*font-size: 30px;*/
	height: 40px;
	margin-top: 2px;
	position: sticky;
}

nav ul a {
	text-align: center;
}

nav ul li {
	list-style: none;
	/*border: 2px solid black;*/
	/*border-radius: 10% 10% 0 0;*/
	border-bottom: 0px;
	padding: 10px;
	box-sizing: border-box;
	color: #444;
	font-size: 1rem;
	font-weight: bolder;	
}

nav ul li:hover {
	background-color: #f80;
	border-color: white;
}

main {
	height: 100%;
	/* display: flex;
	flex-wrap: wrap;
	justify-content: space-around; */
}

a {
	text-decoration: none;
	color: #000;
	width: 50%;
}

a:hover {
	color: white;
}

section {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
}

article {
	width: 200px;
	border: 1px solid black;
	padding: 10px;
	margin: 10px;
	text-align: center;

}

article img {
	width: 100%;
	height: 200px;
}

article p {
	margin: 10px;
	text-align: left;
}

.bt-inscricao {
	background-color: red;
	padding: 5px;
	border-radius: 10px;
	color: white;
	font-weight: bold;
	margin: auto;

}

.bt-inscricao:hover {
	border: 2px solid aqua;
	background-color: white;
	color: black;
}

form {
	text-align: center;
	width: 300px;
	margin: auto;
	padding: 10px;
	/*margin: 20px;*/
	border: 1px solid black;
}

form input {
	padding: 5px;
	margin: 5px;
}

#corredor {
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
	border-bottom: 1px dotted black;
}

/* Rodape */
footer {
	/*margin-top: 20px;*/
	/* text-align: center; */
}

footer p::after {
	text-align: center;
	
}

.contato {
	padding: 20px;
	background-image: linear-gradient(to top, rgba(220, 100, 0, 0.7), #fff);
}

/*footer figure {
	display: flex;
	justify-content: space-around;
}
.img-rodape {
	 width: 50px;
	 height: 50px;
	 background: url('corredor.gif');
}*/

#preload {
	position: absolute;
	background: red;
	width: 100%;
	height: 100vh;
}

/*--------- Perfil --------------*/

.bt-perfil  button {
	width: 100%;
}

.perfil {
	justify-content: space-around;
	/*width: 100%;*/
}

.perfil article {
	border: none;
	width: 100%;
}

/*--------- Pagamento --------------*/

.pagamento article {
	width: 50%;
	border-radius: 7px;
}

.bt {
	width: 100%;
	padding: 10px;
}

.pagamento form {
	width: 80%;
	border: none;
}

