* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	
	font-family: Arial;
}

div {
	/*height: 100%;*/
	margin: auto;
}

header {
	background-image: linear-gradient(to top, #eee, rgba(220, 100, 0, 0.7));
}

h1 {
	text-align: center;
	font-size: 50px;
	color: orange;
	text-shadow: 2px 2px 2px black;
	height: 50px;
}

nav {
	margin: 0px 0 20px 0;
}

nav ul {
	display: flex;
	justify-content: end;
	background-image: linear-gradient(to top, rgba(220, 100, 0, 0.7), #eee);
	border-bottom: 1px solid black;
	/*font-size: 30px;*/
	height: 40px;
	margin-top: 2px;
	position: sticky;
}

nav ul a {
	text-align: center;
}

nav ul li {
	list-style: none;
	/*border: 2px solid black;*/
	/*border-radius: 10% 10% 0 0;*/
	border-bottom: 0px;
	padding: 10px;
	box-sizing: border-box;
	color: #444;
	font-size: 1rem;
	font-weight: bolder;	
}

nav ul li:hover {
	background-color: #f80;
	border-color: white;
}

main {
	height: 100%;

}

a {
	text-decoration: none;
}

.secao {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.item-secao {
	width: 300px;
	height: 350px;
	padding: 10px;
	background-color: #eee;
}

.item-secao img {
	width: 100%;
	height: 170px;
}

.item-secao p {
	padding: 5px;
}

.formulario {
	width: 250px;
	margin: auto;
	padding: 10px;
	background-color: #eee;
	font-weight: bold;
}

.formulario input {
	padding: 10px;
	margin: 10px;

}

.bt {
	background-color: red;
	padding: 5px;
	border-radius: 10px;
	color: white;
	font-weight: bold;
	margin: 5px 50px;

}

.bt:hover {
	border: 2px solid aqua;
	background-color: white;
	color: black;
}

.button-inputs {
	border: none;
	padding: 7px 20px;
	width: 70%;
	font-size: 15px;
}

#corredor-rodape {
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
	border-bottom: 1px dotted black;
}

#preload {
	position: absolute;
	background: white;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
}

footer {
}

.rodape {
	width: auto;
	height: 100vh;

	display: flex;
	flex-wrap: wrap;
	height: 100px;
	background-image: linear-gradient(to top, rgba(220, 100, 0, 0.7), #eee);
}

.rodape article {
	width: 25%;
	margin: 10px 15px;
	/*line-height: 30%;*/
}